html {
  padding: 0;
  height: 100%;
}

#color-picker-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

input[type="color"] {
  position: absolute;
  height: 40px;
}