h1 {
  display: flex;
  justify-content: center;
}

div {
  font-family: Arial, sans-serif;
  margin: 20px;
  justify-content: center;
}

input {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid white;
  margin-left: 20px;
}

input:hover {
  transform: translateY(-2px);
  transition: 0.5s;
}

body {
  background: beige;
}

form {
  padding: 25px;
  border-radius: 16px;
  font-family: Arial, sans-serif;
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  background-color: rgb(131, 188, 190);
}

button {
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  background: white;
}

button:hover {
  transform: translateY(-2px);
  transition: 0.5s;
  cursor: pointer;
}

select {
  margin-left: 20px;
  border: 1px solid white;
  border-radius: 8px;
}

select:hover {
  transform: translateY(-3px);
  transition: 0.5s ease;
}